/* style sheet for all aisles*/
*{box-sizing:border-box;
}
.footer{
  
  clear:both;
  font-weight:lighter;
  background-color:#93af74;
  color:white;
  padding: 25px;
}
/*Mobiles*/
[class*="col-"] {
  width: 100%;
}
/*Tablets- Landscape*/
@media only screen and (min-width: 600px) {
[class*="col-"] {
  width: 50%;
}
.item 
{
font-size:smaller;
}
}
/*Desktops*/
@media only screen and (min-width: 900px) {
.item{font-size:larger;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
[class*="col-"] {
  float: left;
  padding: 5px;
  display: table-cell;
}
.row::after 
{
  content: "";
  clear: both;
display:table;
  
}

div.main{
margin-right:10%;
margin-left:10%;
}
h1.aislename
{
background-color:#FFFACD;
text-align:center;
font-weight:bold;
font-family:Arial;
font-size:3.0em;
}
.item{
text-align:center;
text-decoration:none;
font-family:'Times New Roman' Palatino;
color:#93af74;

}
.item:hover
{
color:white;
background-color:#93af74;
}
.img 
{
width:100%;
padding:5px;
}
