.footer{

	text-align:center;
  clear:both;
  font-weight:lighter;
  background-color:#93af74;
  color:white;
  padding: 25px;
}
/*small devices*/
@media only screen and (max-width: 600px)
{
.productimg{display:none;}
}
.divname
{
color:#93af74;
font-weight:bold;
font-family:Arial;
}

.productimg
{
padding:2%;
height:100px;
float:left;
}
